:root {
    --primary-color: #4D6BB9;
    --secondary-color: #FFFFFF;
    --tertiary-color: #4F4F4F;
    --quaternary-color: #333333;

    --services-header-color: #294283;
    --services-text-color: #404C6B;

    --main-button-color: #EFD063;
    --form-color: #9FB1DE;

    --footer-background-color: #2D3751;
    --gray-color: #F2F2F2;

    --main-border-radius: 30px;
    --form-border-radius: 61px;

    --primary-space: 30px;
    --secondary-space: 36px;
    --tertiary-space: 50px;
}